
@{
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">

    <title>Panel CRUD</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            
            <div class="inner">
                 <h3> Hotel Premium</h3>
                <br />
                <nav class="nav nav-masthead text-center">
                    
                    <a class="nav-link" href="/Home/Index">Inicio</a>
                    <a class="nav-link" href="/Tipoes">Tipo de Habitacion</a>
                    <a class="nav-link" href="/Habitacions">Habitacion</a>
                    <a class="nav-link" href="/Vendedors">Vendedor</a>
                    <a class="nav-link" href="/Clientes">Cliente</a>
                    <a class="nav-link" href="/Alquilers">Alquiler</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Bienvenido Administrador.</h1>
            <br />
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Proyecto de Asp.net realizado para el Hotel Premium </p> <a href="/Home/Index">Inicio</a>
            </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript /assets/js/vendor/popper.min.js
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>