@{
    Layout = null;
}

    <html lang="ens">
    <head>
        <title>Hotel Premium</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="~/css/EstiloPortada.css">
    </head>
    <body>

        <nav>
            <label class="logo">Hotel Premium</label>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="/Identity/Account/Register">Registrate</a></li>
                <li><a href="/Identity/Account/Login">Iniciar Sesion</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="slider">
            <ul>
                <li><img src="~/img/Wallpaper.jpg" alt="portada1"></li>
                <li><img src="~/img/Wallpaper2.jpg" alt="portada2"></li>
                <li><img src="~/img/Wallpaper3.jpg" alt="portada3"></li>
                <li><img src="~/img/Wallpaper4.jpg" alt="portada4"></li>
            </ul>

        </div>
        <br>
        <h2>Sobre el Hotel</h2>
        <div class="container">
            <div class="card">
                <img src="~/img/restaurante.jpeg">
                <br />
                <h4>Restaurante</h4>
                <br />
                <ul>
                    <li>- Los mejres Chef's del pais.</li>
                    <li>- Exquisitas Sopas de mariscos.</li>
                    <li>- Vista libre al Mar.</li>
                    <li>- buffet todos los Viernes. </li>
                    <li>- Todo gratis Para VIP´s.</li>
                </ul>
                <br />
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="~/img/bar2.jpeg">
                <br />
                <h4>Bar</h4>
                <br />
                <p> - Disfruta con tus amigos.       </p>
                <p> - Rones Nacionales y Extranjeros.</p>
                <p> - Todas las Cervezas al 2X1.     </p>
                <p> - Barra libre todos los viernes. </p>
                <p> - Todo gratis para VIP's. </p>
                <br />
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="~/img/spa.jpeg">
                <br />
                <h4>Spa</h4>
                <br />
                <ul>
                    <li>- Relajate con tus amigos.</li>
                    <li>- Terapias musculares. </li>
                    <li>- Tratamientos esteticos.</li>
                    <li>- Jacuzzis.</li>
                    <li>- Totalmente gratis. </li>
                </ul>
                <br />
                <a href="#">Leer Mas</a>
            </div>
        </div>

        <br>
        <br>
        <h2>Ofertas</h2>
        <div class="container">
            <div class="card">
                <img src="~/img/standar.jpg">
                <h4>Habitaciones Standard</h4>
                <br />
                <p>
                    Habitaciones standard disponibles
                    desde $24.99 P/N personales y 
                    para parejas, incluye desayuno gratis. 
                    CoNviertete en VIP por $34.99.
                </p>
                <br />
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="~/img/Matrimonial.jpg">
                <h4>Habitaciones Matrimoniales</h4>
                <br />
                <p>
                    Habitaciones Matrimoniales disponibles
                    desde $39.99 P/N disponebles en 2 tipos
                    incluye desayuno a tu habitacion,
                    Conviertete en VIP por 49.99.
                </p>
                <br />
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="~/img/Lujo.jpg">
                <h4>Habitaciones de Lujo</h4>
                <br />
                <p>
                    Habitaciones de lujo disponibles
                    desde 69.99 P/N dispononibles en 3
                    tipos de diseños, incluye todos los
                    veneficios incluidos VIP.
                </p>
                <br />
                <a href="#">Leer Mas</a>
            </div>
        </div>
        <br>
        <br>
        <h2>Actividades</h2>
        <br>
        <div class="contenedir-galeria">
            <img src="~/img/Aerobicos.jpg" alt="" class="galeria__img">
            <img src="~/img/Surfing.jpg" alt="" class="galeria__img">
            <img src="~/img/Natacion.jpg" alt="" class="galeria__img">
        </div>
        <br>
        <footer>
            <h3 class="fuente">
                Derechos Reservados
            </h3>
        </footer>
    </body>
    </html>