@{
    Layout = null;
}

    <html lang="ens">
    <head>
        <title>Hotel Premium</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="~/css/EstiloPortada.css">
    </head>
    <body>

        <nav>
            <label class="logo">Hotel Premium</label>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="/Identity/Account/Register">Registrate</a></li>
                <li><a href="/Identity/Account/Login">Iniciar Sesion</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="slider">
            <ul>
                <li><img src="img/banner2.png" alt="portada1"></li>
                <li><img src="img/banner.png" alt="portada2"></li>
                <li><img src="img/banner2.png" alt="portada3"></li>
                <li><img src="img/banner.png" alt="portada2"></li>
            </ul>

        </div>
        <br>
        <h2>Sobre el Hotel</h2>
        <div class="container">
            <div class="card">
                <img src="img/restaurante.jpeg">
                <h4>Restaurante</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vel, excepturi unde?</p>
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="img/bar2.jpeg">
                <h4>Bar</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vel, excepturi unde?</p>
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="img/spa.jpeg">
                <h4>Spa</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vel, excepturi unde?</p>
                <a href="#">Leer Mas</a>
            </div>
        </div>

        <br>
        <br>
        <h2>Ofertas</h2>
        <div class="container">
            <div class="card">
                <img src="img/1.jpg">
                <h4>Habitaciones de Lujo</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vel, excepturi unde?</p>
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="img/1.jpg">
                <h4>Habitaciones Personales</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vel, excepturi unde?</p>
                <a href="#">Leer Mas</a>
            </div>

            <div class="card">
                <img src="img/1.jpg">
                <h4>Habitaciones Matrimoniales</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vel, excepturi unde?</p>
                <a href="#">Leer Mas</a>
            </div>
        </div>
        <br>
        <br>
        <h2>Actividades</h2>
        <br>
        <div class="contenedir-galeria">
            <img src="img/img1.jpeg" alt="" class="galeria__img">
            <img src="img/img2.jpeg" alt="" class="galeria__img">
            <img src="img/img3.jpeg" alt="" class="galeria__img">
        </div>
        <br>
        <footer>
            <h3 class="fuente">
                Derechos Reservados
            </h3>
        </footer>
    </body>
    </html>